body{
    background-color: gray;
}
.nav-link:hover{
    color: black;
}
.nav-link{
    color: white;
}
hr{
    color: white;
}
.container{
    margin-top: 200px;
}
h2{
    font-style: italic;
    font-weight: 500;
    font-family: "trirong";
    color: darkgray;
}
h1{
    font-weight: bold;
}
img{
    transition: opacity 0.6s;
}
img:hover{
    opacity: 0.7;
}
svg{
    margin-top: 20px;
    margin-bottom: 22px;
}
form{
    margin-top: 30px;
}

ul li h3{
    font-family: "audiowide";
    margin-right: 710px;
}
ul li h3::first-letter{
    color: darkgray;
}
section{
    background-image:url(/Assets/black-background-presentation-template-SB02298-02.jpg);
}
#myName{
    color: darkgray;
}
#description{
    color: darkgray;
}
#myPic{
    height: 550px;
    border-radius: 80px; 
}
#Pic{
    height: 700px; 
    border-radius: 50px;
}
#submit{
    background-color: darkgray;
    border-radius: 20px;
    width: 100px;
    height: 50px;
    border: 1px black solid;
}
#submit:hover{
    color: white;
    background-color: black;
}
#netlify{
    background-color: blue;
    border-radius: 20px;
    width: 100px;
    height: 50px;
    border: 1px navy solid;
}
#netlify:hover{
    color: black;
    background-color: navy;
}
